{% extends 'base/base.html' %}



{% block content %}

    <div class="container-fluid px-2 px-md-4">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
        <span class="mask  bg-gradient-primary  opacity-6"></span>
      </div>
      <div class="card card-body mx-3 mx-md-4 mt-n6">
        <div class="container my-auto">
            <div class="row">
              <div class="col-lg-4 col-md-8 col-12 mx-auto">
                <div class="card z-index-0 fadeIn3 fadeInBottom">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                      <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Add New Category</h4>
    
                    </div>
                  </div>
                  {% comment %} Form Start {% endcomment %}
                  <div class="card-body">
    
                    <form role="form" class="form" method="POST" novalidate>
                      {% csrf_token %}
                      {% if form.non_field_errors %}
                      <p class="card-text text-danger">{{form.non_field_errors}}</p>
                      {% endif %}
                      {% for field in form %}
                      <div>
                        <label for="{{field.auto_id}}}">{{field.label}}</label><br>
                        {% if field.errors %} 
                        <small class="errors text-danger">{{field.errors|striptags}}</small><br>
                        {% endif %}
                        <div class="border border-info rounded">
                          {{field}}
                        </div>
                        
                      </div>
                      {% endfor %}
                      <div class="text-center">
                        <input type="submit" value="Add Category" class="btn bg-gradient-primary w-100 my-4 mb-2">
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>


{% endblock content %}