{% extends 'authbase/base.html' %}
{% load static %}
{% block content %}
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url({% static 'img/illustrations/illustration-signup.jpg'%}); background-size: cover;">
              </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
              <div class="card card-plain">
                <div class="card-header">
                  <h4 class="font-weight-bolder">Sign Up</h4>
                  <p class="mb-0">Enter your Registerd Email</p>
                </div>
                <div class="card-body">
                  <form role="form" class="form" method="POST" novalidate>
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    <p class="card-text text-danger">{{form.non_field_errors}}</p>
                    {% endif %}
                    {% for field in form %}
                    <div class="">
                      <label for="{{field.auto_id}}}">{{field.label}}</label><br>
                      <small>{{field.help_text}}</small><br>
                      {% if field.errors %} 
                      <small class="errors text-danger">{{field.errors|striptags}}</small><br>
                      {% endif %}
                      <div class="border border-info rounded">
                        {{field}}
                      </div>
                      
                    </div>
                    {% endfor %}
                    <div class="text-center">
                      <input type="submit" value="Send Link" class="btn bg-gradient-primary w-100 my-4 mb-2">
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-2 text-sm mx-auto">
                    Already have an account?
                    <a href="{% url 'signin' %}" class="text-primary text-gradient font-weight-bold">Sign in</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock content %}