{% load static %}

<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="{% url 'dashboard' %}" target="_blank">
        <img src="{% static 'img/logo-ct.png'%}" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">NFS Dashboard</span>
      </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white {{active_dashboard}} {{bg_dashboard}}" href="{% url 'dashboard' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">layers</i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {{active_get_pdf}} {{bg_get_pdf}}" href="{% url 'getPDF' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">layers</i>
            </div>
            <span class="nav-link-text ms-1">GetPDF</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {{bg_list_category}} {{active_list_category}} " href="{% url 'show_cat_subcat' %}">
            <div class="text-white  text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">category</i>
            </div>
            <span class="nav-link-text ms-1">View Category</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {{active}}" href="{% url 'billing' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">receipt_long</i>
            </div>
            <span class="nav-link-text ms-1">Billing</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {{bg_create_category}} {{active_create_category}} " href="{% url 'create_category' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">add</i>
            </div>
            <span class="nav-link-text ms-1">Create Category</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {{bg_create_subcategory}} {{active_create_subcategory}}" href="{% url 'create_subcategory' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">add</i>
            </div>
            <span class="nav-link-text ms-1">Create Sub Category</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {{bg_list_product}} {{active_list_product}} " href="{% url 'show_products' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-20">inventory_2</i>
            </div>
            <span class="nav-link-text ms-1">View Products</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {{bg_create_products}} {{active_create_products}} " href="{% url 'create_product' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-20">add</i>
            </div>
            <span class="nav-link-text ms-1">Add New Products</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {{active_list_soldproducts}} {{bg_list_soldproducts}} " href="{% url 'view_sold_products' date=0 %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-20">file_open</i>
            </div>
            <span class="nav-link-text ms-1">View Sold  Products</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white {{active}} " href="{% url 'notifications' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">notifications</i>
            </div>
            <span class="nav-link-text ms-1">Notifications</span>
          </a>
        </li>
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account pages</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {{active}} " href="{% url 'profile' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">person</i>
            </div>
            <span class="nav-link-text ms-1">Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {{active}} " href="{% url 'signin' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">login</i>
            </div>
            <span class="nav-link-text ms-1">Logout</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {{active}} " href="{% url 'changepass' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">assignment</i>
            </div>
            <span class="nav-link-text ms-1">Change Password</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>